.calculator{
  border: 1px solid rgb(95,93,93);
  border-radius: 5px;
  Width: 180px;
}
.display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}

.button{
  width: 45px;
  height: 45px;
  margin-right :8px;
  margin-bottom :8px;
}

.buttonContainer {
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
}